<div *ngIf="user">
    <p class="text-center">
      id: <span>{{ user._id }}</span>
    </p>
    <p class="text-center">
      First: <span>{{ user.firstName }}</span>
    </p>
    <p class="text-center">
      Last: <span>{{ user.lastName }}</span>
    </p>
    <p class="text-center">
      Age: <span>{{ user.age }}</span>
    </p>
    <p class="text-center">
      Phone: <span>{{ user.phone }}</span>
    </p>
    <p class="text-center">
      Email: <span>{{ user.email }}</span>
    </p>
  </div>